@import "../../scss/components/webLayout";
@import "../../scss/components/variables";

@mixin card($bgColor, $animDelay, $color, $index, $width, $height, $cardPadding, $cardPosition) {
    background-color: $bgColor;
    animation-delay: $animDelay;
    color: $color;
    z-index: $index;
    width: $width;
    height: $height;
    padding: $cardPadding;
    position: $cardPosition;
}

.container-3 {
    background-color: $maincon-bg;

    .container-wrapper-3 {
        flex-direction: column;
        gap: 96px;
        padding: 120px 0;

        .universal-button {
            width: 180px;
        }

        .main-container-content {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
                margin: 90px 0;
            }

            &:nth-child(1) .main-container-item:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .main-container-right-item-5,
        .main-container-right-item-1 {

            .sim-img {
                position: absolute;
                top: 35px;
                left: 20px;
            }

            .sim-img img {
                width: 40px;
            }

            .brand {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1.2px;
            }

            .card-footer {
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: calc(100% - 40px);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .card-name {
                font-size: 14px;
                font-weight: normal;
            }

            .footer-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .commercial {
                font-size: 12px;
                color: #bfbfbf;
                margin-bottom: 5px;
            }

            .footer-right img {
                width: 40px;
            }

            .main-container-payment-heder {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

            .main-container-payment-heder h3 {
                font-size: 35px;
                font-weight: 700;
                line-height: 48px;
                color: #0A2540;
                width: 350px;
            }

            .main-container-payment-heder button {
                width: 183px;
            }

            .main-container-payment-footer {
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 14px;
            }
        }

        @media screen and (max-width: 768px) {

            .main-container-right-item-5,
            .main-container-right-item-1 {
                margin-top: 200px;
            }

            .main-container-right-item-2,
            .main-container-right-item-3,
            .main-container-right-item-4 {
                margin-top: 100px;
            }
        }

        .payment-container {
            width: clamp(200px, 100%, 300px);
            border-radius: 25px;
            background-color: $white-txt-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 10px;
        }

        .main-container-content:nth-child(2),
        .main-container-content:nth-child(3) {
            margin: 141px 0;

            @media screen and (max-width: 768px) {
                margin: 0;
            }

            .main-container-left-item-1 {
                @media screen and (max-width: 768px) {
                    margin-top: 100px;
                }
            }
        }

        .main-container-content:nth-child(4) {
            margin: 225px 0;

            @media only screen and (max-width: 768px) {
                margin: 0;
            }
        }

        .card,
        .card2,
        .card3 {
            transition: transform 0.5s ease, opacity 0.5s ease;
            animation: stack 8s infinite ease-in-out;
            transform-style: preserve-3d;

            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 15px;
        }

        .card {
            @include card(#000, 0s, white, 1, 320px, 200px, 20px, absolute)
        }

        .card2 {
            @include card(#fff, 2s, #000, 2, 320px, 200px, 20px, absolute);

            .green-circle {
                position: absolute;
                top: 0;
                left: 0;
            }

            .green-circle2 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }

            .green-circle3 {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .card3 {
            @include card(#27BB86, 4s, #fff, 3, 320px, 200px, 20px, absolute);

            @for $i from 1 through 5 {
                .linear-green-img#{$i} {
                    position: absolute;
                    top: 50%-($i*2);
                    transform: translateY(-50%);
                }
            }
        }


        @keyframes stack {
            0% {
                transform: translateY(0) scale(1);
                opacity: 1;
                z-index: 3;
            }

            30% {
                transform: translateY(50px) scale(0.95);
                opacity: 1;
                z-index: 2;
            }

            50% {
                transform: translateY(100px) scale(0.9);
                opacity: 1;
                z-index: 1;
            }

            60% {
                transform: translateY(150px) scale(0.85);
                opacity: 0;
                z-index: 0;
            }

            70% {
                transform: translateY(180px) scale(0.8);
                opacity: 0;
                z-index: 0;
            }

            80% {
                transform: translateY(-10px) scale(1.05);
                opacity: 0.5;
                z-index: 3;
            }

            90% {
                transform: translateY(0) scale(1);
                opacity: 1;
                z-index: 3;
            }

            100% {
                transform: translateY(0) scale(1);
                opacity: 1;
                z-index: 3;
            }
        }

        .main-container-right-item-3 {
            .pricing-container {

                display: flex;
                flex-direction: column;
                padding: 9px 7px 12px 7px;
                gap: 8px;

                border-radius: 15px;
                background-color: rgba(255, 255, 255, 1);
                color: rgba(63, 75, 102, 1);
                width: clamp(347px, 100%, 540px);

                &-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 42.99px;
                    padding: 0 22px;
                    font-size: 14px;
                    border-bottom: 1px solid #eee;

                    .logo {
                        font-weight: 500;
                        color: #6c47ff;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            width: 16.22px;
                        }

                        span {
                            font-size: 9.64px;
                        }
                    }

                    nav {
                        a {
                            text-decoration: none;
                            color: #333;
                            font-size: 8.09px;
                            margin-left: 20px;
                            transition: $normTransition;

                            &:hover {
                                color: #6c47ff;
                            }
                        }
                    }
                }

                .pricing-plans {
                    padding: 17px 13px 44px 13px;
                    border-radius: 10px;

                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    display: flex;
                    justify-content: center;
                    gap: 5px;

                    transition: 1s ease;

                    .plan {
                        &:nth-child(1) {
                            animation: roleFirstCon 10s infinite ease;
                        }

                        &:nth-child(2) {
                            animation: roleSecondCon 10s infinite ease;
                        }

                        &:nth-child(3) {
                            animation: roleThirdCon 10s infinite ease;
                        }


                        @keyframes roleFirstCon {

                            0%,
                            16% {
                                transform: translateX(0);
                                opacity: 1;
                            }

                            32% {
                                transform: translateX(100px);
                            }

                            48% {
                                transform: translateX(100px);
                                opacity: 1;
                            }

                            64%,
                            80% {
                                transform: translate(140px, 10px);
                                opacity: 0;
                            }

                            100% {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }

                        @keyframes roleSecondCon {

                            0%,
                            16% {
                                transform: translateX(0);
                            }

                            32% {
                                transform: translateX(100px);
                            }

                            48% {
                                transform: translateX(100px);
                            }

                            64%,
                            80% {
                                transform: translateX(30px);
                            }

                            100% {
                                transform: translateX(0);
                            }
                        }

                        @keyframes roleThirdCon {

                            0%,
                            16% {
                                transform: translateX(0);
                                opacity: 1;
                            }

                            32% {
                                transform: translate(-100px, 10px);
                                opacity: 0;
                            }

                            48%,
                            80% {
                                transform: translateX(-100px);
                                opacity: 0;
                            }

                            100% {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            .plan {
                                width: clamp(110px, 100%, 167px);
                            }
                        }

                        h3 {
                            font-size: 11.6px;
                            color: #333;
                            margin-bottom: 10px;

                            @media screen and (max-width: 768px) {
                                font-size: 6.84px;
                            }
                        }

                        .users {
                            font-size: 8.23px;
                            color: #777;
                            margin-bottom: 15px;
                        }

                        .price {
                            font-size: 17.15px;
                            font-weight: bold;

                            @media screen and (max-width: 768px) {
                                font-size: 14px;
                            }

                            span {
                                font-size: 8px;
                                color: #777;
                            }

                        }

                        &:nth-child(2) h3 {
                            display: flex;

                            span {
                                font-size: 5.51px;

                                @media screen and (max-width: 768px) {
                                    font-size: 3.51px;
                                }

                            }
                        }

                        .subscribe-btn {
                            background-color: #6c47ff;
                            color: #fff;
                            border: none;
                            border-radius: 3.24px;
                            margin-top: 20px;
                            padding: 8px 33px;
                            font-size: 8px;
                            font-weight: 500;
                            transition: $normTransition;

                            &:hover {
                                background-color: #5733e5;
                            }

                            @media screen and (max-width: 768px) {
                                padding: 4px 27px;
                                font-size: 6.84px;
                            }
                        }

                        ul {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            li {
                                font-size: 8px;
                                color: #555;
                                margin: 0 0 0 5px;
                                display: flex;
                                align-items: flex-start;
                                padding: 4.5px 0;

                                @media screen and (max-width: 768px) {
                                    font-size: 6px;
                                }

                                .checked::before {
                                    content: '\2714';
                                    color: #9966FF;
                                    margin: 4px;
                                    padding: 2px;
                                    background-color: rgba(128, 128, 128, 0.275);
                                    border-radius: 50%;
                                }
                            }
                        }

                        .badge {
                            background-color: #6c47ff;
                            color: #fff;
                            font-size: 12px;
                            padding: 3px 8px;
                            border-radius: 15px;
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}