@import "../components/variables";
@import "../components/webLayout";

.container-wrapper-5 {
    @include flex-center(column, center, center, 40px);
    margin: $padding-large;

    .agility-title {
        width: 100%;
        @include flex-center(column, flex-start, flex-start, 24px);
        padding: 0 0 0 16px;
        width: clamp(315px, 100%, 688px);

        h6 {
            font-size: 1rem;
            color: rgba(99, 91, 255, 1);
        }

        h3 {
            font-size: 34.73px;
            color: $primarybg-color;
        }

        p {
            font-size: 16.45px;
        }
    }

    .agility-card-wrapper {
        display: flex;
        gap: 32px;

        .agility-card {
            display: flex;

            &-content {
                width: 238px;
                @include flex-center(column, flex-start, flex-start, 48px);

                &-item {
                    @include flex-center(column, flex-start, flex-start, 24px);

                    h3 {
                        padding: 0 0 0 16px;
                        font-size: 24px;
                        border-left: 1px solid black;
                        transition: $normTransition;

                        &:hover {
                            border-left: 1px solid $border-color;
                        }
                    }

                    p {
                        font-size: 13.83px;
                        padding: 0 0 0 16px;
                    }
                }

                &-item:nth-child(3) span {
                    display: flex;
                    gap: 14px;
                    align-items: center;
                    padding: 0 0 0 16px;
                }

                &-item:nth-child(3) h3 {
                    font-size: 13.95px;
                }
            }

            .amazon-card {
                border-radius: 20px;
                height: 410px;
                display: flex;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 1000;

                    .amazon-card-header {
                        display: flex;
                        justify-content: space-between;
                        z-index: 66;

                        img:nth-child(2) {
                            width: 19px;
                            height: 20px;
                            transition: 1s ease;
                        }

                        &:hover img:nth-child(2) {
                            animation: role 1s ease;
                        }

                        @keyframes role {
                            0% {
                                transform: rotate(0deg);
                            }

                            50% {
                                transform: rotate(20deg);
                            }

                            100% {
                                transform: rotate(0deg);
                            }
                        }
                    }
                    .amazon-card-footer {
                        color: #fff;
                        font-size: 24.5px;
                        z-index: 66;
                        transition: 0.3s ease;

                        &:hover {
                            margin-bottom: 0 0 20px 0;
                        }
                    }
                }
                &:hover .amazon-card-footer {
                    margin-bottom: 20px;
                    background: linear-gradient(to top red, red);
                }
            }
        }
    }

    .agilty-nav {
        height: 100px;
        width: 992px;
        @include flex-center(row, space-between, center);
        @media screen and (max-width: 1080px) {
            width: 0;
            justify-content: center;
        }

        ul {
            display: flex;

            li {
                @include flex-center(row, center, center);
                padding: 0 36px;

                &:nth-child(1) {
                    border-top: 1px solid black;
                }

                &:nth-child(2) {
                    border-top: 1px solid orange;
                }

                &:nth-child(3) {
                    border-top: 1px solid blueviolet;
                }

                &:nth-child(4) {
                    border-top: 1px solid red;
                }

                img {
                    width: clamp(200px, 100%, 270px);
                }
            }
        }
    }
}

#maersk,
#twilo,
#bmw {
    display: none;
}

#maresk-ico {
    height: 40px;
}

#twilo-ico {
    width: 100px;
}

#bmw-ico,
#maresk-ico,
#twilo-ico {
    opacity: 0.3;
}

#bmw,
#amazon,
#maersk,
#twilo {
    transition: opacity 0.3s ease-in-out;
}

%amazon-card-base {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all $normTransition;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        z-index: 0;
        transition: background-color $normTransition;
    }
    &:hover::before {
        background-color: rgba(2, 1, 1, 0.596);
    }
}

#bmw .amazon-card {
    @extend %amazon-card-base;
    background-image: url("../../../src/images/bmw-car.webp");
    &-header img:nth-child(1) {
        width: 40px;
        height: 40px;
    }
}

#amazon .amazon-card {
    @extend %amazon-card-base;
    background-image: url("../../../src/images/amazon-company.jpg");
    &:hover::before {
        background-color: rgba(2, 1, 1, 0.596);
    }
}

#maersk .amazon-card {
    @extend %amazon-card-base;
    background-image: url("../../../src/images/maersk.webp");
    &:hover::before {
        background-color: rgba(2, 1, 1, 0.596);
    }
}

#twilo .amazon-card {
    @extend %amazon-card-base;
    background-image: url("../../../src/images/twilio.webp");
    &:hover::before {
        background-color: rgba(2, 1, 1, 0.596);
    }
}


@media screen and (max-width: 1080px) {
    .agility-card {
        flex-wrap: wrap;
        gap: 32px;
    }

    .agility-wrapper {
        padding: 0 32px;
        margin: 73px 0;
    }

    .agility-card-wrapper {
        flex-wrap: wrap;
    }

    .agility-card-content {
        flex-direction: row;
        justify-content: flex-start;
    }

    .agilty-nav ul li:active {
        border-top: black
    }

    .agilty-nav {
        width: clamp(347px, 100%, 736px);
        justify-content: center;
        height: 10px;
    }

    .amazon-card {
        width: clamp(347px, 100%, 980px);
        margin: auto;
    }

    .agility-card-content-item p {
        padding: 0;
    }

    .agilty-nav ul li:nth-child(4) {
        height: 10px;
        width: 24px;
    }

    #bmw-ico,
    #amazon-ico,
    #maresk-ico,
    #twilo-ico {
        opacity: 0;
    }

    .agilty-nav ul {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .agilty-nav ul li {
        display: flex;
        align-items: flex-start;
        width: 30px;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .agilty-nav ul li img {
        width: 100px;
        position: absolute;
        top: -15px;
    }
}

@media screen and (max-width: 768px) {
    .amazon-card {
        width: clamp(347px, 100%, 736px);
    }

    .agility-card-content-item h3 {
        font-size: 14px;
    }

    .agility-card-content-item span {
        font-size: 13px;
    }

    .amazon-card-footer {
        width: clamp(282px, 100%, 405px);
    }

    .agility-card-content-item p {
        font-size: 10px;
    }
}