@import "../components/variables";

.container-wrapper-6 {
    padding: 14px;
    margin: 128px 0;
    flex-direction: column;

    span {
        display: block;
        color: #635bff;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
    }

    h2 {
        font-size: 34px;
        margin-bottom: 10px;
        color: #0a2540;
    }

    p {
        margin-bottom: 20px;
        line-height: 28px;
        color: #425466;
        font-size: 16px;
        width: clamp(315px, 100%, 682px);
    }

    .startap-grid {
        display: grid;
        grid-template-areas:
            ". . . item1 item1 item1"
            ". . . item1 item1 item1"
            "item2 item2 item2 item1 item1 item1"
            "item2 item2 item2 item1 item1 item1"
            "item2 item2 item2 item3 item3 item3"
            "item2 item2 item2 item3 item3 item3"
            "item4 item4 item4 item3 item3 item3"
            "item4 item4 item4 item3 item3 item3"
            "item4 item4 item4 . . ."
            "item4 item4 item4 . . .";
        gap: 32px;
        justify-items: center;

        @media screen and (max-width: 768px) {
            grid-template-areas:
                "item1 item1 item1"
                "item2 item2 item2"
                "item3 item3 item3"
                "item4 item4 item4";
            margin: 0 auto;
        }

        .startap-card {
            border: 1px solid #e0e6ed;
            border-radius: 8px;
            padding: 32px;
            display: flex;
            flex-direction: column;
            background: white;
            transition: 1s ease;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.522);

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 15px 10px rgba(128, 128, 128, 0.522);
            }

            &:hover .company h4 {
                opacity: 1;
                transform: translateY(0);
            }

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    width: clamp(347px, 100%, 508px);
                    grid-area: item#{$i};
                }
            }

            .startap-icon {
                padding: 5px;

                img {
                    width: clamp(347px, 100%, 508px);
                    height: 333px;
                    border-radius: 4px;
                }
            }

            .company {
                padding: 32px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                @media screen and (max-width: 768px) {
                    padding: 0;
                }

                img {
                    width: 109px;
                    height: 40px;
                }

                h2 {
                    font-size: 24px;
                    color: #0a2540;
                }

                p {
                    color: #425466;
                    font-size: 16px;
                    width: clamp(299px, 100%, 400px);
                }

                h4 {
                    font-size: 16px;
                    color: #635bff;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    gap: 5px;
                    opacity: 0;
                    transform: translateY(10px);
                    transition: opacity $normTransition, transform $normTransition;

                    .arrow-right {
                        font-size: 16px;
                        transition: $normTransition;
                        cursor: pointer;
                    }

                    h4:hover .arrow-right {
                        content: '\2192';
                        transform: translateX(3px);
                    }
                }
            }
        }
    }
}