$padding-large: 120px 0;
$gap-large: 96px;
$gap-small: 10px;
$container-wrapper: clamp(390px, 100%, 1080px);

$border-color: rgba(128, 128, 128, 0.377);
$secondary-color: rgba(0, 212, 255, 1);
$navlist-color: rgba(255, 255, 255, 1);
$polygon-bg: hsla(266, 77%, 68%, 1);
$button-hover: rgba(0, 0, 0, 0.26);
$primarybg-color: #0a2540;
$text-light: #0a2540b9;
$maincon-bg: #f6f9fc;
$button-bg: rgba(99, 91, 255, 1);
$white-txt-color: #fff;
$button-color: #fff;
$copyrightColor: #364657;
$linkColor: #635BFF;
$lightTextColor: #425466;
$textAreabgColor: #0c2e4e;


$normTransition: .3s ease;