// Variables
$primary-font-stack: 'font 1', 'sans-serif';
$color-blue-background: #0B3954;
$color-white: #FFFFFF;
$color-primary-accent: #FFB128; 
$gallery-width: 100%;
$column-width-large: 640px; 
$card-height-large: 600px; 
$card-border-radius: 32px;