.brands {
    width: clamp(320px, 90%, 1080px);
    height: auto;
    margin: auto;
    --gridRowGap: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: var(--gridRowGap);
}

@media (max-width: 1024px) {
    .brands {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .brands {
        grid-template-columns: repeat(2, 1fr);
        --gridRowGap: 40px;
    }
}

@media (max-width: 320px) {
    .brands {
        grid-template-columns: repeat(1, 1fr);
        --gridRowGap: 30px;
    }
}