@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

#footer {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  /* padding: 50px; */
  color: #0A2540;
  /* margin-right: 100px; */
  background-color: #ffff;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

@media (max-width: 768px) {
  #footer {
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
      padding-top: 500px;
  }
}

#title-container{
  margin-right: 50px;
  margin-left: 50px;
}

#titles p {
  font-size: 14px;
}

#footer-list {
  display: flex; 
  padding-top: 120px;
  width: clamp(500px, 80%, 1080px);
}

#footer-list ul {
  list-style: none;
  margin: 0;
  margin-right: 100px;
}

#footer-list ul li{
  margin: 4px;
  font-size: 14px;
  line-height: 24px;
}

.copyright {
  padding: 10px 0;
  margin-left: 50px;
  font-size: 14px;
}

.separator{
  width: 1px; 
  height: 100vh;
  background: linear-gradient(#424770, #0000);; /* Line color */
  border: none;
  margin: 0;
}

.separator-list {
  width: 1px; 
  height: 50vh;
  background: linear-gradient(#424770, #0000);; /* Line color */
  border: none;
  margin: 0;
}

#footer-list ul:last-child {
  margin-left: 0;
}

.arrow {
  display: inline-block;
  margin-right: 5px;
  transform: rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 1024px) {
  
  #footer-list ul {
    margin: 10px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 30px;
  }
  #title-container {
    text-align: center;
    margin: 0;
  }
  #footer-list ul {
    margin: 15px 0;
  }
}


@media (max-width: 480px) {
  #footer {
    padding: 30px;
  }
  #title-container {
    text-align: center;
    margin: 0;
  }
  #footer-list ul {
    margin: 15px 0;
  }
}
@media (max-width: 420px) {
  #footer {
    padding: 20px;
  }
  #footer-list {
    display: flex;
    flex-wrap: wrap;
  }
  #footer-list ul {
    margin: 10px 0;
  }
  #titles p {
    font-size: 12px;
  }
  .copyright {
    font-size: 12px;
    margin: 0;
  }
}


