.connect {
  width: 100%;
  display: flex;
  gap: 20%;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;

    > div:first-child {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      margin-top: 10px;

      .connect-icon-wrapper {
        width: 20px;
        height: 20px;
        position: relative;

        > div:first-child {
          width: 12.86px;
          height: 13px;
          background: linear-gradient(
            180deg,
            #11efe3 6.58%,
            #15e8e2 23.77%,
            #1fd3e0 45.12%,
            #21cfe0 58.66%
          );
          border-radius: 100% 100% 2px 100%;
          width: 12.86px;
          opacity: 0px;
          position: absolute;
          left: 0.14px;
          z-index: 1;
          mix-blend-mode: multiply;
        }

        > div:last-child {
          width: 12.86px;
          height: 13px;
          opacity: 0px;
          background: #0073e6;
          border-radius: 2px 100% 100% 100%;
          position: absolute;
          left: 7px;
          top: 7px;
          z-index: 2;
          mix-blend-mode: multiply;
        }
      }

      h3 {
        font-size: 17.02px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        color: #2e3a55;
      }
    }

    h1 {
      /* width: 460px; */
      /* height: 96px; */
      font-size: 35.92px;
      font-weight: 700;
      letter-spacing: -0.20000000298023224px;
      text-align: left;
      color: #0a2540;
      margin-bottom: 20px;
    }

    h2 {
      /* width: 460px; */
      /* height: 56px; */
      font-size: 16.31px;
      font-weight: 500;
      line-height: 28px;
      color: $text-primary-color;
      letter-spacing: 0.20000000298023224px;
      margin-bottom: 20px;
    }

    /* From Uiverse.io by satyamchaudharydev */
    button {
      --primary-color: #635bff;
      --secondary-color: #fff;
      --hover-color: #0a2540;
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      border: 0;
      border-radius: 20px;
      color: var(--secondary-color);
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      justify-content: center;
      gap: 0.6em;
      font-weight: 400;
      height: 33px;
      width: 173.28px;
      font-family: inter;
      letter-spacing: 0.2px;
      font-size: 13.48px;
      letter-spacing: 0.20000000298023224px;
      margin-bottom: 60px;
      cursor: pointer;
    }

    button .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      position: relative;
      transition: 0.2s;
    }

    button .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }

    button:hover {
      background-color: var(--hover-color);
    }

    button:hover .arrow {
      background: var(--secondary-color);
    }

    button:hover .arrow:before {
      right: 0;
    }

    h6 {
      font-size: 14.18px;
      font-weight: 500;
      letter-spacing: -0.20000000298023224px;
      color: #0a2540;
      margin-bottom: 10px;
    }

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 25px;

      h5 {
        color: #635bff;
        font-size: 13.71px;
        font-weight: 500;
        letter-spacing: 0.20000000298023224px;
        cursor: pointer;
        transition: 0.3s ease;
      }

      h4 {
        color: $text-primary-color;
        font-size: 13.71px;
        font-weight: 500;
        letter-spacing: 0.20000000298023224px;
      }

      h5:hover {
        color: #0a2540;
      }
    }
  }

  aside {
    display: flex;
    justify-content: center;
    padding-right: 16px;

    .aside-container {
      background-image: url("../assets/images/connect-aside-bg.jpg");
      background-size: cover;
      border: 1.19px solid #c4ccd8;
      width: 331px;
      height: 516.74px;
      /* min-width: 119.06px;
              min-height: 85.73px; */
      border-radius: 9.53px;
      position: relative;

      .jacques-muller-wrapper,
      .hanako-yamada-wrapper {
        position: relative;

        > div:first-child {
          width: 261.47px;
          height: 66.44px;
          position: absolute;
          z-index: 1;
          top: 35.84px;
          left: 34.77px;
          opacity: 0.8px;
          background-color: #ffffff;
          border-radius: 9.53px;
          box-shadow: 0px 3.57px 8.33px -3.57px #0000004d,
            0px 7.14px 14.29px -2.38px #32325d40;
        }

        > div:last-child {
          width: 249.99px;
          height: 73.82px;
          border-radius: 9.53px;
          background-color: #ffffff;
          box-shadow: 0px 3.57px 8.33px -3.57px #0000004d,
            0px 7.14px 14.29px -2.38px #32325d40;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0px 20px 0px 20px;

          span {
            width: 160.53px;
            height: 14.29px;
            display: flex;
            gap: 9px;

            h4 {
              color: #3f4b66;
              font-size: 13.84px;
              font-weight: 500;
              letter-spacing: 0.22860431671142578px;
            }

            h3 {
              color: #727f96;
              font-size: 12.95px;
              font-weight: 500;
              letter-spacing: 0.22860431671142578px;
            }
          }

          .button {
            width: 69.06px;
            height: 23.81px;
            border-radius: 4.76px;
            border: none;
            font-size: 8.93px;
            font-weight: 500;
            letter-spacing: 0.22860431671142578px;
            color: #0a2540;

            &.processing {
              background-color: #15be534d;
            }

            &.completed {
              top: 39px;
              position: absolute;
              background-color: #d0cdff;
              opacity: 0;
              animation: completed 8s infinite;
              animation-delay: 5s;
            }
          }

          h2 {
            font-size: 15.76px;
            font-weight: 500;
            line-height: 14.29px;
            text-align: right;
            color: #3f4b66;
          }
        }
      }

      .jacques-muller-wrapper {
        > div:last-child {
          top: 22.62px;
          left: 20.24px;
          z-index: 1;
        }
      }

      .hanako-yamada-wrapper {
        > div:last-child {
          top: -60px;
          left: 20.24px;
          z-index: 2;
          animation: slideDown 8s infinite;
        }
      }

      > div:nth-child(3) {
        .money {
          width: 83.58px;
          height: 26.33px;
          position: absolute;
          z-index: 2;
          border-radius: 11905.28px;
          background-color: #ffffff;
          box-shadow: 0px 4.52px 8.93px -4.41px #0000001a,
            0px 7.5px 13.69px -4.17px #32325d40;
          font-size: 13.62px;
          font-weight: 500;
          letter-spacing: 0.26194244623184204px;
          color: #0a2540;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: moveDown 8s infinite;
          animation-timing-function: cubic-bezier(0.01, 0.01, 0.1, 0.99);
        }

        .buyers {
          width: 83.58px;
          height: 26.33px;
          position: absolute;
          z-index: 2;
          top: 137px;
          left: 123.76px;
        }

        .sellers {
          top: 286.99px;
          left: 125.73px;
          animation-delay: 3s;
        }

        .platform {
          width: 68.58px;
          height: 26.19px;
          position: absolute;
          top: 286.99px;
          left: 115.73px;
          border-radius: 11905.28px;
          background-color: #ffffff;
          box-shadow: 0px 4.52px 8.93px -4.41px #0000001a,
            0px 7.5px 13.69px -4.17px #32325d40;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: moveSide 8s infinite;
          animation-timing-function: cubic-bezier(1, 0.01, 0.1, 1);
          animation-delay: 1s;
        }

        button {
          border-radius: 11905.28px;
          border: none;
          color: #ffffff;
          font-size: 13.39px;
          font-weight: 500;
          letter-spacing: 0.1547841727733612px;
          text-align: center;
          position: absolute;
          height: 28.58px;
          z-index: 4;
        }

        > button:first-child {
          width: 99.65px;
          background-color: #0073e6;
          top: 135.78px;
          left: 116.73px;
        }

        > button:nth-child(5) {
          width: 100.37px;
          background-color: #3dc9c9;
          top: 286.99px;
          left: 115.73px;
        }

        > button:nth-child(10) {
          padding-left: 0px;
          width: 197.65px;
          top: 437.21px;
          left: 66.62px;
          background-color: #0cc2ff;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: done 8s infinite;
          animation-timing-function: cubic-bezier(0.11, 0.96, 0.11, 0.95);
          animation-delay: 5s;

          img {
            position: absolute;
            left: 8px;
            opacity: 0;
            animation: doneMark 8s infinite;
            animation-timing-function: cubic-bezier(0.1, -0.3, 0, 1.2);
            animation-delay: 5s;
          }
        }

        .dashed-border {
          position: absolute;
          border-radius: 11905.28px;
          height: 38.1px;
          border: 1.19px dashed #cfd7df;
          z-index: 2;
          background-color: #ffffff;
        }

        > .dashed-border:nth-child(2) {
          width: 109.93px;
          top: 129.78px;
          left: 110.73px;
        }

        > .dashed-border:nth-child(6) {
          width: 109.93px;
          top: 280.99px;
          left: 110.73px;
        }

        > .dashed-border:nth-child(11) {
          width: 206.96px;
          top: 432.21px;
          left: 60.62px;
          animation: stretch 8s infinite;
          animation-timing-function: cubic-bezier(0.11, 0.96, 0.11, 0.95);
          animation-delay: 5s;
        }

        #topArrows,
        #bottomArrows {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 175.41px;
          left: 160.26px;
          gap: 3.5px;
          /* transform: translateY(-10%); */
        }

        #topArrows {
          animation: moveArrows 8s ease infinite;

          > svg:first-child {
            fill: #1692dc;
          }

          > svg:nth-child(2) {
            fill: #1b99d9;
          }

          > svg:nth-child(3) {
            fill: #20a1d7;
          }

          > svg:nth-child(4) {
            fill: #1b99d9;
          }

          > svg:nth-child(5) {
            fill: #25a7d4;
          }

          > svg:nth-child(6) {
            fill: #25a7d4;
          }

          > svg:nth-child(7) {
            fill: #35becd;
          }

          > svg:nth-child(8) {
            fill: #3bc5ca;
          }

          > svg:nth-child(9) {
            fill: #2cc7dc;
          }

          > svg:nth-child(10) {
            fill: #2cc7dc;
          }

          > svg:nth-child(11) {
            fill: #2cc7dc;
          }
        }

        #bottomArrows {
          margin-top: 130px;
          animation: moveArrows1 8s ease infinite;
          animation-delay: 3s;

          > svg:nth-child(1) {
            fill: #2cc7dc;
          }

          > svg:nth-child(2) {
            fill: #28c6e1;
          }

          > svg:nth-child(3) {
            fill: #24c6e5;
          }

          > svg:nth-child(4) {
            fill: #1bc5ef;
          }

          > svg:nth-child(5) {
            fill: #1fc5ea;
          }

          > svg:nth-child(6) {
            fill: #1bc4ef;
          }

          > svg:nth-child(7) {
            fill: #17c4f3;
          }

          > svg:nth-child(8) {
            fill: #13c3f8;
          }

          > svg:nth-child(9) {
            fill: #0ec3fe;
          }

          > svg:nth-child(10) {
            fill: #0ec3fe;
          }

          > svg:nth-child(11) {
            fill: #0ec3fe;
          }
        }
      }

      .icon-wrapper {
        width: 42.55px;
        height: 42.55px;
        border: 1px solid #c4ccd8;
        position: relative;
        transition: ease 0.3s;
        border-radius: 4px;

        > div:first-child {
          width: 11px;
          height: 11px;
          top: 11.9px;
          position: absolute;
          left: 12px;
          border-radius: 100% 100% 2px 100%;
          border: 1.83px solid #c4ccd8;
          mix-blend-mode: multiply;
        }

        > div:last-child {
          width: 11px;
          height: 11px;
          top: 19px;
          left: 19px;
          border-radius: 2px 100% 100% 100%;
          position: absolute;
          border: 1.83px solid #c4ccd8;
          mix-blend-mode: multiply;
        }

        &:hover {
          background-color: #ffffff;
          box-shadow: 0px 7.56px 15.12px -7.56px #0000001a,
            0px 12.6px 25.2px -11.57px #32325d40;
          transform: scale(1.1);
          border-color: transparent;

          &.blue {
            > div:first-child {
              background: linear-gradient(
                180deg,
                #11efe3 6.58%,
                #15e8e2 23.77%,
                #1fd3e0 45.12%,
                #21cfe0 58.66%
              );
              border-color: transparent;
            }

            > div:last-child {
              background: #0073e6;
              border-color: transparent;
            }
          }

          &.purple {
            > div:first-child {
              background: linear-gradient(
                180deg,
                #11efe3 14.35%,
                #21cfe0 73.56%
              );
              border-color: transparent;
            }

            > div:last-child {
              background: #9966ff;
              border-color: transparent;
            }
          }

          &.yellow {
            > div:first-child {
              background: linear-gradient(
                180deg,
                #ffd748 18.14%,
                #ffc148 100.07%
              );
              border-color: transparent;
            }

            > div:last-child {
              background: #00d924;
              border-color: transparent;
            }
          }

          &.pink {
            > div:first-child {
              background: linear-gradient(
                180deg,
                #ff80ff 15.99%,
                #ff7bf9 44.98%,
                #ff6eea 82.97%,
                #ff62dc 105.96%
              );
              border-color: transparent;
            }

            > div:last-child {
              background-color: #0073e6;
              border-color: transparent;
            }
          }
        }
      }

      .blue {
        top: 150px;
        left: -120px;
      }

      .purple {
        top: 350px;
        left: -120px;
      }

      .yellow {
        top: 140px;
        left: 365px;
      }

      .pink {
        top: 360px;
        left: 365px;
      }
    }
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(150px);
  }
}

@keyframes moveSide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(130px);
  }

  100% {
    transform: translateX(130px);
    opacity: 0;
  }
}

@keyframes done {
  0% {
    padding-left: 0px;
    width: 197.65px;
  }

  10% {
    padding-left: 10px;
    width: 220.65px;
  }

  30% {
    padding-left: 10px;
    width: 220.65px;
  }

  40%,
  50%,
  60%,
  70%,
  80%,
  100% {
    width: 197.65px;
  }
}

@keyframes stretch {
  0% {
    width: 197px;
  }

  10% {
    width: 229.96px;
  }

  30% {
    width: 229.96px;
  }

  40%,
  50%,
  60%,
  70%,
  80%,
  100% {
    width: 206.96px;
  }
}

@keyframes doneMark {
  0% {
    transform: scale(1.1);
  }

  4% {
    opacity: 1;
    transform: scale(1.4);
  }

  10%,
  20% {
    opacity: 1;
    transform: scale(1.1);
  }

  30% {
    opacity: 1;
    transform: scale(1.1);
  }

  35% {
    opacity: 0;
    transform: scale(1.1);
  }

  80% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes slideDown {
  0% {
    top: -60px;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    top: 22.62px;
  }

  100% {
    top: 22.62px;
  }
}

@keyframes moveArrows {
  0% {
    transform: translateY(-25%);
  }

  15%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveArrows1 {
  0% {
    transform: translateY(-18%);
  }

  10%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes completed {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  10%,
  20%,
  30% {
    opacity: 1;
  }

  40%,
  50%,
  60%,
  70%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .connect {
    article {
      max-width: 496px;
      > div:first-child {
        h3 {
          font-size: 17px;
        }
      }
      h1 {
        max-width: 415px;
        font-size: 32px;
      }
      h2 {
        font-size: 16px;
      }
      span {
        font-size: 13px;
      }
    }
    aside {
      .aside-container {
        max-width: 278px;
        left: -44px;
        .hanako-yamada-wrapper,
        .jacques-muller-wrapper {
          left: -26px;
        }
        > div:nth-child(3) {
          > button:nth-child(5) {
            left: 50%;
            transform: translate(-50%);
          }
          .dashed-border:nth-child(6) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:first-child {
            left: 50%;
            transform: translate(-50%);
          }
          .money {
            left: 35%;
            transform: translate(-50%);
          }
          .platform {
            left: 24%;
          }
          > .dashed-border:nth-child(2) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:nth-child(10) {
            left: 50%;
            transform: translate(-50%);
          }
          > .dashed-border:nth-child(11) {
            left: 50%;
            transform: translate(-50%);
          }
          #bottomArrows,
          #topArrows {
            left: 50%;
            transform: translate(-50%);
          }
        }
      }
    }
    .icon-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .connect {
    display: flex;
    flex-direction: column;
    gap: 90px;
    article {
      > div:first-child {
        h3 {
          font-size: 17px;
        }
      }
      h1 {
        font-size: 32px;
        max-width: 992px;
        width: 100%;
      }
      h2 {
        font-size: 16px;
        max-width: 992px;
        width: 100%;
      }
      span {
        font-size: 13px;
      }
    }
    aside {
      display: flex;
      justify-content: center;
      .aside-container {
        max-width: 278px;
        margin: 0 auto;

        .hanako-yamada-wrapper,
        .jacques-muller-wrapper {
          left: -26px;
        }
        > div:nth-child(3) {
          > button:nth-child(5) {
            left: 50%;
            transform: translate(-50%);
          }
          .dashed-border:nth-child(6) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:first-child {
            left: 50%;
            transform: translate(-50%);
          }
          .money {
            left: 35%;
            transform: translate(-50%);
          }
          .platform {
            left: 24%;
          }
          > .dashed-border:nth-child(2) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:nth-child(10) {
            left: 50%;
            transform: translate(-50%);
          }
          > .dashed-border:nth-child(11) {
            left: 50%;
            transform: translate(-50%);
          }
          #bottomArrows,
          #topArrows {
            left: 50%;
            transform: translate(-50%);
          }
        }
      }
    }
    .icon-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 440px) {
  .connect {
    display: flex;
    flex-direction: column;
    gap: 90px;
    article {
      > div:first-child {
        h3 {
          font-size: 17px;
        }
      }
      h1 {
        font-size: 32px;
        max-width: 992px;
        width: 100%;
      }
      h2 {
        font-size: 16px;
        max-width: 992px;
        width: 100%;
      }
      span {
        font-size: 13px;
      }
    }
    aside {
      display: flex;
      justify-content: center;
      .aside-container {
        max-width: 270px;
        left: 135px;
        transform: translate(-50%);

        .hanako-yamada-wrapper,
        .jacques-muller-wrapper {
          left: -26px;
        }
        > div:nth-child(3) {
          > button:nth-child(5) {
            left: 50%;
            transform: translate(-50%);
          }
          .dashed-border:nth-child(6) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:first-child {
            left: 50%;
            transform: translate(-50%);
          }
          .money {
            left: 35%;
            transform: translate(-50%);
          }
          .platform {
            left: 24%;
          }
          > .dashed-border:nth-child(2) {
            left: 50%;
            transform: translate(-50%);
          }
          > button:nth-child(10) {
            left: 50%;
            transform: translate(-50%);
          }
          > .dashed-border:nth-child(11) {
            left: 50%;
            transform: translate(-50%);
          }
          #bottomArrows,
          #topArrows {
            left: 50%;
            transform: translate(-50%);
          }
        }
      }
    }
    .icon-wrapper {
      display: none;
    }
  }
}
