.designed-developers {
  background-color: #0a2540;
  .developers-wrapper {
    .top-content {
      padding: 16px;
      display: flex;
      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        h3 {
          font-size: 17px;
          color: #00d4ff;
          font-weight: 500;
        }
        h2 {
          font-size: 36px;
          color: #ffffff;
          font-weight: 500;
          padding-right: 64px;
        }
        p {
          color: #adbdcc;
          size: 16px;
          font-weight: 500;
          padding-right: 81px;
        }
        button {
          width: 144px;
          height: 33px;
          background-color: #00d4ff;
          border-radius: 16.5px;
          border: none;
          color: #0a2540;
          cursor: pointer;
          &:hover {
            background-color: #fff;
          }
        }
      }
      .right {
        width: 50%;
        position: relative;
        .editor {
          .input {
            border-radius: 8px;
            background-color: rgb(12 46 78);
            position: absolute;
            z-index: 1;
          }
          .server {
            position: absolute;
            top: 245px;
            z-index: 3;
          }
          .output {
            border-radius: 8px;
            background-color: rgb(6 24 44);
            position: absolute;
            top: 264px;
            padding: 10px 0 50px 0px;
            z-index: 1;
          }
        }
      }
    }
    .bottom-content {
      padding: 16px;
      display: flex;
      margin-top: 96px;
      .blog {
        width: 270px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 42px;
        align-items: flex-start;

        > img {
          height: 40px;
          /* padding-right:166px; */
          margin-left: 16px;
        }

        h3 {
          font-size: 14px;
          color: #ffffff;
          font-weight: 500;
          border-left: solid 1px #00d4ff;
          padding-left: 14px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          color: #adbdcc;
          /* padding-right: 50px; */
          padding-left: 16px;
        }
        button {
          color: #00d4ff;
          font-size: 14px;
          font-weight: 500;
          /* padding-right: 134px; */
          padding-left: 16px;
          cursor: pointer;
        }
      }
      button {
        background-color: transparent;
        box-shadow: none;
        border: none;
        cursor: pointer;
      }

      button:hover {
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .designed-developers {
    .developers-wrapper {
      .bottom-content {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 390px) {
  .designed-developers {
    .developers-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top-content {
        display: flex;
        flex-direction: column;
        .left {
          width: 100%;
          max-width: 315px;
          margin-bottom: 16px;
        }
      }
      .bottom-content {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 460px;
        gap: 16px;
      }
    }
  }
}
