.global-scale {
  background-color: #0a2540;
  background-image: url(../assets/images/earth.png);
  background-repeat: no-repeat;
  clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0% 100%);
  background-position: center;
  .content-wrapper {
    max-width: 1080px;
    padding-top: 287px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      font-size: 17.16px;
      font-weight: 500;
      line-height: 28px;
      color: #00d4ff;
    }
    h2 {
      font-size: 35.18px;
      font-weight: 500;
      line-height: 48px;
      color: #ffffff;
    }
    p {
      font-size: 17.72px;
      font-weight: 500;
      line-height: 28px;
      color: #adbdcc;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    span {
      div {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #ffffff;
        border-left: 1px solid #00d4ff;
        padding-left: 16px;
      }
      p {
        font-size: 13.71px;
        font-weight: 500;
        line-height: 24px;
        color: #adbdcc;
        padding-left: 16px;

        a {
          color: #00d4ff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .global-scale {
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 1024px) {
  .global-scale {
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    .content-wrapper {
      max-width: 992px;
      .top {
        margin-top: 100px;
      }
      .bottom {
        margin-bottom: 121px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .global-scale {
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    .content-wrapper {
      max-width: 736px;
      .top {
        margin-top: 100px;
        gap: 24px;
      }
      .bottom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 32px;
        margin-bottom: 80px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .global-scale {
    clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
    .content-wrapper {
      max-width: 347px;
      .top {
        margin-top: 70px;
        gap: 24px;
        h2 {
          max-width: 210px;
        }
        p {
          max-width: 315px;
        }
      }
      .bottom {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        gap: 32px;
        margin-bottom: 74px;
      }
    }
  }
}
